
.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
}
/* para el movil cambiar esta propiedad */
.card-options{
    display: flex;
    flex-flow: row wrap;
    gap: 150px;
    margin-top: 100px;
}
.card-option{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;


}